<div class="container">
    <div class="text-center footer-left col-sm-5">
        <h4>Connect With ITL</h4>
        <ul>
            <a href="#">
                <li>
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </li>
            </a>
            <a href="#">
                <li>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </li>
            </a>
            <a href="#">
                <li>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </li>
            </a>
            <a href="#">
                <li>
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                </li>
            </a>
            <a href="#">
                <li>
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </li>
            </a>
        </ul>
    </div>

    <div class="footer-right col-sm-7">
        <div class="footer-columns col-sm-4">
            <h5>About</h5>
                <ul>
                    <li>{{#link-to 'about'}}About ITL{{/link-to}}</li>
                    <li>{{#link-to 'news'}}News{{/link-to}}</li>
                    <li>{{#link-to 'events'}}Events{{/link-to}}</li>
                    <li>{{#link-to 'careers'}}Careers{{/link-to}}</li>
                </ul>
        </div>
        <div class="footer-columns col-sm-4">
            <h5>Services</h5>
                <ul>
                    <li>{{#link-to 'contact'}}Training{{/link-to}}</li>
                    <li>{{#link-to 'contact'}}Repair Service{{/link-to}}</li>
                    <li>{{#link-to 'myitl'}}Web Portal{{/link-to}}</li>
                    <li>{{#link-to 'inocc'}}iNOCC{{/link-to}}</li>
                </ul>
        </div>
        <div class="footer-columns col-sm-4">
            <h5>Information</h5>
            <ul>
                <li>{{#link-to 'contact'}}Contact Us{{/link-to}}</li>
                <li>{{#link-to 'faa-guidelines'}}FAA Guidelines{{/link-to}}</li>
                <li>{{#link-to 'terms-of-service'}}Events{{/link-to}}</li>
                <li>{{#link-to 'privacy-policy'}}Privacy Policy{{/link-to}}</li>
            </ul>
        </div>
    </div>
</div>
<div class="bottom-footer">
    <img class="footer-logo" src="https://www.itl-llc.com/cms_assets/Icons/itl_logo_classic.svg" alt="itl-logo">
    <p>&copy;2017 <span>International Tower Lighting, LLC.</span> All Rights Reserved</p>
</div>
