
$lightGray: gainsboro;
$white: #fff;
$teal: teal;
$black: #1d1d1d;

img {
    width: 100%;
}

nav {
    height: 50px;
    background-color: $black;
}

.footer {
    background-color: $black;
    height: 300px;
}
