<!-- MOCK SLIDER PICTURE DESGIN -->
<section class="slider-section">
    <div class="slider-box">
        <h1>ITL Monitoring</h1>
        <p>iNOCC ITL network operations control center offers 24/7/365 days a year monitoring for your towers</p>
    </div>
</section>

<!-- PRODUCT SHOWCASE SECTION -->
<h3 class="section-title">Lighting</h3>
<div class="row">
  <div class="showcase col-xs-6 col-sm-3">
      <div class="inner-box">
          <img src="https://www.itl-llc.com/cms_assets/ITL_Product_Images/ifh/IFH-1700-0IR-CLOSED_1_T.png" alt="">
          <h4><i class="material-icons">keyboard_arrow_right</i> ILS-3600-0IR</h4>
      </div>
  </div>
  <div class="showcase col-xs-6 col-sm-3">
      <div class="inner-box">
          <img src="https://www.itl-llc.com/cms_assets/ITL_Product_Images/ifh/IFH-1700-0IR-CLOSED_1_T.png" alt="">
          <h4><i class="material-icons">keyboard_arrow_right</i> ILS-3600-0IR</h4>
      </div>
  </div>
  <div class="showcase col-xs-6 col-sm-3">
      <div class="inner-box">
          <img src="https://www.itl-llc.com/cms_assets/ITL_Product_Images/ifh/IFH-1700-0IR-CLOSED_1_T.png" alt="">
          <h4><i class="material-icons">keyboard_arrow_right</i> ILS-3600-0IR</h4>
          <details class="details-box">

          </details>
      </div>
  </div>
  <div class="showcase col-xs-6 col-sm-3">
      <div class="inner-box">
          <img src="https://www.itl-llc.com/cms_assets/ITL_Product_Images/ifh/IFH-1700-0IR-CLOSED_1_T.png" alt="">
          <h4><i class="material-icons">keyboard_arrow_right</i> ILS-3600-0IR</h4>
      </div>

  </div>
</div>

<!-- ITL ABOUT -->
<section class="page-title">
    <h1>Title stuff</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</section>
{{outlet}}
